.cta {
  color: white;
}
.image-cta {
  width: 80px;
}
img {
  max-width: 100%;
}
.hero-inner {
  background-image: url("/img/jumbo-bg.png");
  background-size: cover;
  background-position: center center;
  margin-top: 108px;
  padding-top: 20rem;
  padding-bottom: 4rem;
}
